name: Conventional Commit
on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

jobs:
  semver:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        worker: [publish, cron, register, dlq]
    steps:
      - uses: actions/checkout@v6
      - name: Check conventional commits for ${{ matrix.worker }}
        uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          scopes: |
            ${{ matrix.worker }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}